<div class="jumbotron center">
	<h1>Welcome to my HOOD</h1>
	<p>Click here if <%= link_to "You TRiLL!", "#", class: "btn btn-danger btn-lg" %>

	Already DOWN? <%= link_to "Log in then", "#", class: "btn btn-primary btn-lg" %></p>
</div>